html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}


core-header-panel {
  height: 100%;
  background: white;
}
core-toolbar {
  background-color: #03A9F4;
}

paper-button {
  margin-left: 50px;
}

.main {
	padding: 80px 20px;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

 #container {
    max-width: 400px;
    height: 400px;
    margin: auto;
  }